#heading-container {
	text-align: center;
	padding: 15px;
	top: 0px;
	background: linear-gradient(#E1F5FE, white/*white*/);
}

.reflective {
	font-style: italic;
	margin: 20px;
	padding-left: 120px;
	padding-right: 120px;
	display: none;
}

.odd {
	/*background: linear-gradient(#D3F0FF, white);
	color: black;*/
}

.even {
	/*background: linear-gradient(#D3F0FF, white);
	background: linear-gradient(#B6E2F0, white);*/
	color: black;
}

.first {
	border-top: 1px dotted black;
}

.project {
	padding: 20px;
	border-bottom: 1px dotted black;
	text-align: center;
}

#ming {
	zoom: 80%;
	-moz-transform: scale(.8);
}

#sketch {
	zoom: 30%;
	-moz-transform: scale(.3);
}

#mapchat {
	zoom: 80%;
	-moz-transform: scale(.8);
}

#watch {
	zoom: 43%;
	-moz-transform: scale(.43);
}

.imgcont {
	display: inline-block;
	width: 300px;
	height: 300px;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid black;
	margin-left: 20px;
	box-shadow: 0px 0px 10px #888;
}

.pdfcont {
	display: inline-block;
	margin-left: 20px;
}

.blurb {
	text-align: left;
	padding-left: 120px;
	padding-right: 120px;
}



.center {
	text-align: center;
}

.skills {
	background-color: #225378;
	color: white;
	display: none;
	padding: 10px;
	border: 5px solid black;
	box-shadow: inset 0px 0px 5px black;
}

.list {
	display: inline-block;
	width: 49%;
}

#me {
	zoom:.5;
	-moz-transform: scale(.5);
	border-radius: 50%;
	border: 5px solid black;
}

#circle-animation {
	display:inline;
	cursor: pointer;
	zoom: .75;
	-moz-transform: scale(.75);
	vertical-align: top;
}

.name {
	display:inline;
	font-family: Dosis;
	opacity: 0;
}

.heading {
	display:inline;
	font-family: Dosis;
	opacity: 0;
	cursor: pointer;
	color: #003399;
}

h1 {
	padding-bottom: 20px;
}

h2 {
	color: #225378;
	font-weight: bold;
}

.big {
	font-size: 100px;
}

.medium {
	font-size:22px;
}

.link {
	font-weight: bold;
	color: white;
	zoom: 200%;
}

#content-container {
	font-size: 18px;
	margin-top: 30px;
	bottom: 200px;
	overflow:auto;
}

#footer {
	font-family: Dosis;
	font-size: 15px;
	display: block;
	text-align: center;
	width: 100%;
	background-color: #EB814D;
	padding: 15px;
	color: white;
	position:fixed;
	bottom: -200px;
	border-top: 0px solid black;
	opacity: 1;
}

.hidden-content {
	border-top: 0px solid black;
	border-bottom: 0px solid black;
	display:none;
	font-family: Dosis;
	font-size: 20px;
	margin-bottom:83px;
	background: linear-gradient(white, white/*#D3F0FF*/);
}

.image {
	text-align: center;
}

#menu {
	border-bottom: 3px solid #003399; 
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#menu li {
	display: inline;
	margin: 2%;
}

#menu li {
	display: inline;
	margin: 2%;
}

#menu li a {
	width: 20%;
}


h1 {
	text-align: center;
	font-size: 50px;
}

.center {
	float: 50%;
}

iframe {
	border: 5px solid black;
}
