#heading-container {
	text-align: center;
	margin: 15px;
	top: 0px;
}

.reflective {
	font-style: italic;
	width: 80%;
}

.odd {
	background-color: white;
}

.even {
	background-color: white;
}

.project {
	padding: 20px;
	margin-bottom: 30px;
	border: 3px solid black;
}

#ming {
	zoom: 80%;
}

#watch {
	zoom: 43%;
}

.imgcont {
	display: inline-block;
	width: 300px;
	height: 300px;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid black;
	margin-left: 20px;
}

.pdfcont {
	display: inline-block;
	margin-left: 20px;
}

.blurb {
	display: block;
	width: 800px;
	float: right;
}

.center {
	text-align: center;
}

.skills {
	background-color: #225378;
	color: white;
	display: none;
	padding: 10px;
	border: 5px solid black;
	box-shadow: inset 0px 0px 5px black;
}

.list {
	display: inline-block;
	width: 49%;
}

#me {
	zoom:.5;
	border-radius: 50%;
	border: 5px solid black;
}

#circle-animation {
	display:inline;
	cursor: pointer;
	zoom: .75;
	vertical-align: top;
}

.name {
	display:inline;
	font-family: Dosis;
	opacity: 0;
}

.heading {
	display:inline;
	font-family: Dosis;
	opacity: 0;
	cursor: pointer;
	color: #225378;
}

h1 {
	padding-bottom: 20px;
}

h3 {
	color: #225378;
}

.big {
	font-size: 100px;
}

.medium {
	font-size:22px;
}

.link {
	font-weight: bold;
	color: white;
	text-decoration: underline;
}

#content-container {
	font-size: 18px;
	margin: 30px;
	bottom: 200px;
	overflow:auto;
}

#footer {
	font-family: Dosis;
	font-size: 15px;
	display: block;
	text-align: center;
	width: 100%;
	background-color: #2F8FAB;
	padding: 15px;
	color: white;
	position:fixed;
	bottom: -200px;
	border-top: 2px solid black;
	opacity: 0;
}

.hidden-content {
	display:none;
	font-family: Dosis;
	font-size: 20px;
	margin-bottom:100px;
}

.image {
	text-align: center;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#menu li {
	display: inline;
	margin: 2%;
}

#menu li {
	display: inline;
	margin: 2%;
}

#menu li a {
	width: 20%;
}


h1 {
	text-align: center;
	font-size: 50px;
}

.center {
	float: 50%;
}

iframe {
	border: 5px solid black;
}
