body { 
	background-color: #888877; 
	font-family: Verdana;
	margin-left: 5%;
	margin-right: 5%;
}

#header { 
	background-color: #BAE2FF;
	display:block;
	width:85%;
	min-width:930px;
	text-align: center;
	float:left;
	border: 5px solid #000000;
	padding-left:40px;
	padding-right:40px;
 }

.two-column {
	width:40%;
	display: inline-block;
	margin:2%;
	float:left;
}

#main {
	padding-top:40px;
	background-color: #FFFFFF;
	border: 5px solid #000000;
	display:block;
	width: 85%;
	min-width:930px;
	float:left;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

#gameDiv {
	margin:auto;
}

#Tufts {
	width:450px;
	height:150px;
}
#CrosswordByline {
	width: 450px;
	height: 100px;
}

.section {
	margin-left: 70px;
}

.pub {
	font-style: italic;
	font-weight: bold;
}

.page-header {
	text-align: center;
	color: #653e1d;
}

h1 {
	font-family: "Arial Black";
	color: #653e1d;
	display:inline-block;
	padding:10px;
	border-style:solid;
	border-width:3px;
	border-color:#173566;
	background-color: #FFFFFF;
}

img {
	padding: 7px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #653e1d;;
}

a {
	color: #653e1d;
	text-decoration: none;
}